.cssContainer{
    margin-top: 200px;
    margin-left: 750px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:300px;
    border:4px solid #000;
    border-radius: 3px;
    border-style: groove;
}

.cssBotoes{
    flex-direction:row;
    flex-wrap:wrap;
}

.cssTela{
    display:flex;
    padding-left:20px;
    padding-right:20px;
    justify-content:center;
    align-items:flex-start;
    background-color:#444;
    flex-direction:column;
    height: 80px;
    width:260px;
    border:4px solid #000;
    border-style: none;
}

.cssTelaOperacao{
      font-size:50px;
      color:#fff;
}

.cssTelaResultado{
    font-size: 50px;
    color:#fff;
}

.cssBtn:first-child{
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(20){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(2){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(3){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(4){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(5){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(6){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(7){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(8){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(12){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(18){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(17){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(19){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(16){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(9){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(10){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(11){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(13){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(14){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(15){
    background-color: rgba(55, 56, 56, 0.938);
}

.cssBtn:nth-child(9):hover{
    background-color: rgba(252, 30, 204, 0.938);
}

.cssBtn:nth-child(10):hover{
    background-color: rgb(228, 231, 31);
}

.cssBtn:nth-child(11):hover{
    background-color: rgba(207, 209, 209, 0.938);
}

.cssBtn:nth-child(13):hover{
    background-color: rgb(245, 13, 5);
}

.cssBtn:nth-child(14):hover{
    background-color: rgba(9, 32, 238, 0.938);
}

.cssBtn:nth-child(15):hover{
    background-color: rgb(0, 0, 0);
}

.cssBtn:nth-child(2):hover{
    background-color: rgba(7, 240, 240, 0.938);
}

.cssBtn:nth-child(3):hover{
    background-color: rgba(7, 240, 240, 0.938);
}

.cssBtn{
    font-size:30px;
    height:75px;
    width:75px;
    padding:20px;
    color:#fff;
    text-align:center;
    outline:none;
}

#video{
    margin-left: 550px;
    margin-top: 150px;
    display: none;
    animation: fade-up 0.9s;
}

@media screen and (max-width: 610px){
    
    .cssContainer{
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 180px;
        padding: 0px;
    }

    #video{
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 180px;
        padding: 0px;
        width: 400px;
        height: 225px;
    }
}

@media screen and (max-width: 750px){
    .cssContainer{
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 180px;
        padding: 0px;
    }

    #video{
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 150px;
        padding: 0px;
        width: 700px;
        height: 525px;
    }
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


