.cssContainer{
    margin-top:200px;
    margin-left: 750px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:300px;
    border:4px solid #000;
    border-radius: 3px;
    border-style: groove;
}

.cssBotoes{
    flex-direction:row;
    flex-wrap:wrap;
}

.cssTela{
    display:flex;
    padding-left:20px;
    padding-right:20px;
    justify-content:center;
    align-items:flex-start;
    background-color:#444;
    flex-direction:column;
    height: 80px;
    width:260px;
    border:4px solid #000;
    border-style: none;
}

.cssTelaOperacao{
      font-size:50px;
      color:#fff;
}

.cssTelaResultado{
    font-size: 50px;
    color:#fff;
}

.cssBtn:first-child{
    background-color: rgb(216, 10, 3);
}

.cssBtn:nth-child(20){
    background-color: rgba(16, 151, 4, 0.938);
}

.cssBtn:nth-child(2){
    background-color:rgba(16, 167, 212, 0.938);
}

.cssBtn:nth-child(3){
    background-color:rgba(16, 167, 212, 0.938);
}

.cssBtn:nth-child(4){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(8){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(12){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn:nth-child(16){
    background-color: rgba(101, 105, 105, 0.938);
}

.cssBtn{
    font-size:30px;
    height:75px;
    width:75px;
    padding:20px;
    background-color:#000;
    color:#fff;
    border-color:#000;
    text-align:center;
    outline:none;
}